In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df=pd.read_csv('one_hot_exercise.csv')
df

                Car Model  Mileage  Age(yrs)  Sell Price($)
0                  BMW X5    69000         6          18000
1                  BMW X5    35000         3          34000
2                  BMW X5    57000         5          26100
3                  BMW X5    22500         2          40000
4                  BMW X5    46000         4          31500
5                 Audi A5    59000         5          29400
6                 Audi A5    52000         5          32000
7                 Audi A5    72000         6          19300
8                 Audi A5    91000         8          12000
9   Mercedez Benz C class    67000         6          22000
10  Mercedez Benz C class    83000         7          20000
11  Mercedez Benz C class    79000         7          21000
12  Mercedez Benz C class    59000         5          33000

In [15]:
dummies = pd.get_dummies(df['Car Model'])
dummies

    Audi A5  BMW X5  Mercedez Benz C class
0         0       1                      0
1         0       1                      0
2         0       1                      0
3         0       1                      0
4         0       1                      0
5         1       0                      0
6         1       0                      0
7         1       0                      0
8         1       0                      0
9         0       0                      1
10        0       0                      1
11        0       0                      1
12        0       0                      1

In [16]:
merged = pd.concat([df,dummies], axis='columns')
merged

,Car Model,Mileage,Age(yrs),Sell Price($),Audi A5,BMW X5,Mercedez Benz C class
0,BMW X5,69000,6,18000,0,1,0
1,BMW X5,35000,3,34000,0,1,0
2,BMW X5,57000,5,26100,0,1,0
3,BMW X5,22500,2,40000,0,1,0
4,BMW X5,46000,4,31500,0,1,0
5,Audi A5,59000,5,29400,1,0,0
6,Audi A5,52000,5,32000,1,0,0
7,Audi A5,72000,6,19300,1,0,0
8,Audi A5,91000,8,12000,1,0,0
9,Mercedez Benz C class,67000,6,22000,0,0,1
10,Mercedez Benz C class,83000,7,20000,0,0,1
11,Mercedez Benz C class,79000,7,21000,0,0,1
12,Mercedez Benz C class,59000,5,33000,0,0,1

In [18]:
final = merged.drop(['Car Model','Mercedez Benz C class'], axis='columns')
final

    Mileage  Age(yrs)  Sell Price($)  Audi A5  BMW X5
0     69000         6          18000        0       1
1     35000         3          34000        0       1
2     57000         5          26100        0       1
3     22500         2          40000        0       1
4     46000         4          31500        0       1
5     59000         5          29400        1       0
6     52000         5          32000        1       0
7     72000         6          19300        1       0
8     91000         8          12000        1       0
9     67000         6          22000        0       0
10    83000         7          20000        0       0
11    79000         7          21000        0       0
12    59000         5          33000        0       0

In [23]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

AttributeError: module 'sklearn.metrics._dist_metrics' has no attribute 'DistanceMetric32'

In [25]:
x = final.drop(['Sell Price($)'], axis='columns')
x

    Mileage  Age(yrs)  Audi A5  BMW X5
0     69000         6        0       1
1     35000         3        0       1
2     57000         5        0       1
3     22500         2        0       1
4     46000         4        0       1
5     59000         5        1       0
6     52000         5        1       0
7     72000         6        1       0
8     91000         8        1       0
9     67000         6        0       0
10    83000         7        0       0
11    79000         7        0       0
12    59000         5        0       0

In [26]:
y = final['Sell Price($)']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell Price($), dtype: int64

In [27]:
model.fit(x,y)

NameError: name 'model' is not defined

In [28]:
model.predict([75000,5,0,0]) #75k mileage, 5yrs, Benz

NameError: name 'model' is not defined

In [29]:
model.score(x,y)
# accuracy

NameError: name 'model' is not defined

SKLEARN METHOD

In [32]:
from sklearn.preprocessing import LabelEncoder
lE = LabelEncoder()

In [34]:
dflE = df
dflE['Car Model'] = lE.fit_transform(df['Car Model'])
dflE

array([1, 1, 1, 1, 1, 0, 0, 0, 0, 2, 2, 2, 2])